# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/

# Node
node_modules/
package-lock.json

# Visual Studio
.vs/
*.ipch
*.db
*.db-journal

# 大文件
*.npy
*.dat
*.nii.gz
dosepng/
uploads/

# 日志
logs/
*.log

# 临时文件
.idea/
.vscode/
